<section class="ui center aligned segment">
  <div class ="ui grid">
    <div class ="five wide column">
      <i class ="huge user icon"></i><br />
      <h4 class="ui header">
      {{member.name}}
      </h4>
    </div>
    <div class ="five wide column">
      <i class="huge dashboard icon"></i><br />
      <h4 class="ui header">
        {{member.assessmentsNumber}} ASSESSMENTS
      </h4>
    </div>
    <div class ="five wide column">
      <i class="huge heartbeat icon"></i><br />
      <h4 class="ui header">
        BMI: {{member.currentBMI}}
      </h4>
    </div>

  </div>
</section>