{{> welcomemenu id="about"}}

<section class="ui middle aligned segment">
  <div class="ui middle aligned grid">
      <div class="ui eight wide column">
          <h2 class="ui blue header">
            Welcome to your new Gym App!
          </h2>
          <p>    
          <b>As a member</b>, you will find here: <br />
            <ul>
              <li>Dashboard view with summary of your fitness condition (BMI, ideal weight etc.)</li>
              <li>Assessment grid where you can track your progress</li>
              <li>Goal summary which can help you to set and track realistic goals</li>
              <li>Trainer's comments on your progress</li>
              <li>User settings</li>
              <li>Motivation to move on...</li>
            </ul>
          </p>
          <p>
            <b>For trainers </b>, few new features include: <br />
            <ul>
              <li>All members' view</li>
              <li>Member's detailed progress</li>
              <li>User management, including removing inactive users</li>
              <li>User's motivation boost by commenting latest assessments</li>
            </ul>
          </p>
      </div>
      <div class="ui eight wide column">
        <img src="https://cdn.dribbble.com/users/124059/screenshots/3837029/icons.png" width="100%"/>
      </div>
  </div>
</section>