{{> trainermenu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui left aligned header">
    Details of {{member.name}}
  </h2>
  {{> report}}
  {{> goal}}
  {{> assessmentsdetails}}
</section>