{{> welcomemenu id="signup"}}

<section class="ui stacked blue segment">
  <section class="ui grid">
    <section class="ui eight wide column">
      <form class="ui form" action="/register" method="POST">
        <h3 class="ui header">Register</h3>
        <div class="two fields">
          <div class="field">
            <label>Name</label>
            <input placeholder="Name" type="text"  name="name">
          </div>
          <div class="field">
            <label>Email</label>
            <input placeholder="Email" type="text" name="email">
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password">
        </div>
        <div class="field">
          <label>Address</label>
          <input placeholder="Address" type="text" name="address">
        </div>
        <div class="three fields">
            <div class="field">
               <label>Gender</label>
                <select name="gender">
                  <option value="">Please select</option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
            </div>
            <div class="field">
              <label>Height</label>
              <input placeholder="1.85" type="text"  name="height">
            </div>
            <div class="field">
              <label>Starting weight</label>
              <input placeholder="80" type="text" name="startingweight">
            </div>
        </div>
        <button class="ui blue submit button">Submit</button>
      </form>
    </section>
    <section class="ui eight wide column">
      <img src="https://cdn.dribbble.com/users/124059/screenshots/3837029/icons.png" width="100%"/>
    </section>
  </section>
</section>